{% extends 'layout-admin.html' %}
{% block title %}
<title>Doctor Categories</title>
{% endblock%}

{% block main_content %}
<section class=" bg_img_about1 p-5 mt-5 d-flex  align-items-center ">
    <div class="container">
        <div class=" text-center ">
            <p class="a_tag text-dark">
                <a href="index.html" class="text-success">Home</a> / All Categories
            </p>

            <h1 class="text-dark display-5">Doctor Categories</h1>

        </div>
    </div>

</section>

<div class="container">
    <div class="row">

        <div class="col-md-10 offset-md-1">
            {% include 'messages.html' %}
<!--            <h1 class="text-center">All Persons</h1>-->
            <div class="card py-2 px-2">
                 <a class="btn btn-success btn-sm ms-auto"
                                href="/doctor/category_form"
                                >Add New Category</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category Name </th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    {% for i in categories %}
                    <tr>
                        <td> {{ i.category_name }}</td>
                        <td><a class="btn btn-success btn-sm" href="/doctor/update_category/{{i.id}}">Edit</a> &nbsp;
                            <a class="btn btn-danger btn-sm"
                               href="/doctor/delete_category/{{i.id}}"
                               onclick="return confirm('Are you sure want to delete this category ?')" >Delete</a></td>

                    </tr>
                    {% endfor %}

                </table>
            </div>

        </div>

    </div>
</div>

{% endblock %}
