{% extends 'layout.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
<title>RESET</title>
{% endblock%}

{% block main_content %}
<style>
    #id_email{
    color:white !important;
    background-color: black;
    }
    .form-group{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    label{
        font-size:1.5rem;
    }

</style>


<div class="my-5">
    <div class="card card-custom text-light  mx-auto" style="width: 50rem;">
        <div class="row">

            <div class="col-md-6 card-body ">
                <form class="form myForm" action="" method="POST">
                {% csrf_token %}
                {{ form | bootstrap_horizontal }}
                    <div class="text-center">
                        <button type="submit" class="btn custom-button2 custom-button2-border-light mt-3 " style="width:84%">Reset Password</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter email address"

   for(field in form_fields){
   form_fields[field].className += ' my-3'
   }
</script>


{% endblock %}