{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
{% load static %}

<title>RESET</title>
{% endblock%}

{% block main_content %}
<style>
    input{
    color:#ff914 !important;
    background-color: white;
}
.card{
        background-color: #29222217;
        transition: 0.5s;
        box-shadow: 0px 0px 21px -7px #283b76;
}

.card:hover{
        box-shadow:0px 0px 24px 1px #283b76;
}
.control-label{
    font-size:1.5rem;
    width:100%;
    color: #909090;
}

.form-control{
    background-color: white !important;
    margin:auto;
    color: black !important;

}
.border-white{
    border: 1px solid black !important;
    width: 83%;
}
.col-sm-10.col-lg-10 {
     margin:auto;
}

</style>

</section>
<div class="my-5 mx-auto">
    <div class="card mx-auto" style="width: 25rem;">
      <div class="card-body">
          <h4>You can now log in to your account</h4>
          <a href="/login" style="width:100%" class="btn btn-outline-danger">Login</a>
      </div>
    </div>

</div>

{% endblock %}