{% extends 'layout-admin.html' %}
{% load static %}
{% block title %}
<title>Noticeboard</title>
{% endblock%}

{% block main_content %}
<style>
    .table-width{
        width:20px;
    }
    .tbody, td, tfoot, th, thead, tr {;
        border-width: 0.1px;
    }
    .desc{
        width:550px !important;
    }
    .action{
        width:100px;
    }
</style>

<section class=" bg_img_about1 p-5 mt-5 d-flex  align-items-center ">
    <div class="container">
        <div class=" text-center ">
            <p class="a_tag text-dark">
                <a href="/admins/dashboard" class="text-success">Home</a> / All Notice
            </p>

            <h1 class="text-dark display-5">Notice</h1>

        </div>
    </div>

</section>

<div class="container py-3 my-3 mx-auto bg-light">
    {% include 'messages.html' %}
    <div class="py-2">
        <a class="btn btn-outline-success btn-sm ms-auto"
        href="/admins/add_notice">Add New Notice</a>
    </div>
    <div class="card">
        <table class="table table-striped">
            <thead>
            <tr class="table-width">
                <th>Notice Title</th>
                <th>Notice Description</th>
                <th>Published Date</th>
                <th class="action">Actions</th>
            </tr>
            </thead>
            {% for i in notice %}
            <tr>
                <td> {{ i.notice_title }}</td>
                <td> {{ i.notice_description }}</td>
                <td> {{ i.notice_date }}</td>


                <td><a class="btn btn-primary btn-sm my-2 px-3 ms-3" href="/admins/update_notice/{{i.id}}">Edit</a> &nbsp;
                    <a class="btn btn-danger btn-sm ms-3"
                       href="/admins/delete_notice/{{i.id}}"
                       onclick="return confirm('Are you sure want to delete this notice?')" >Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}